/* Universal CSS */
.App {
    text-align: center;
}

.bluetxt  {
    color: #012970;;
}

.shorttxt  {
    font-size: 14px;
}

.vshorttxt  {
    font-size: 8px;
}

/* Nav bar CSS */
.nav__logoimg  {
    max-height: 25px;
}

.nav__logotitle  {
    font-size: 26px;
    font-weight: 500;
}

.nav__userimg  {
    max-height: 32px;
}

.nav__userdropdown  {
    min-width: 240px;
}

.nav__badge  {
    top: 15% !important;
}

/* Sidebar CSS */
.sidebar  {
    transition: 500ms;
    width: 300px;
    position: fixed;
    left: 0;
}

.sidebar--hidden  {
    left: -300px;
    padding: 0 !important;
    overflow: hidden;
}

/* Main CSS */
.main  {
    transition: 500ms;
}  

.main--sidebarvisible  {
    padding-left: 300px;
} 

.dashboard__iconcvr  {
    height: 64px;
    width: 64px;
    font-size: 32px;
}

.dashboard__iconcvr--blue  {
    color: #4154f1;
    background: #f6f6fe;
}

.dashboard__iconcvr--green  {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard__iconcvr--orange  {
    color: #ff771d;
    background: #ffecdf;
}

